In [375]:
import pandas as pd
import numpy as np

In [376]:
df = pd.read_excel('data/MarvelComicCaracters.xlsx')

In [377]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              16376 non-null  object
 1   align             13564 non-null  object
 2   eye               6609 non-null   object
 3   hair              9989 non-null   object
 4   sex               15522 non-null  object
 5   appearances       15280 non-null  float64
 6   first_appearance  15561 non-null  float64
dtypes: float64(2), object(5)
memory usage: 895.7+ KB

Сколько пропущенных значений в переменной appearances? Выберите один верный ответ.

In [378]:
df['appearances'].isna().sum()

1096

Укажите, верно ли следующее утверждение: наибольший межквартильный размах по переменной appearances будет для злых персонажей. Вам понадобятся данные по типу персонажа (переменная align), удалите пропущенные значения по столбцу appearances и посчитайте требуемую меру разброса.

In [379]:
df_wo_nan = df.dropna(subset=['appearances'])
df_wo_nan.shape

(15280, 7)

In [380]:
df_evil = df_wo_nan[df_wo_nan['align'] == 'Злой персонаж']

In [381]:
df_good = df_wo_nan[df_wo_nan['align'] == 'Добрый персонаж']

In [382]:
qe1 = df_evil['appearances'].quantile(0.25)
qe3 = df_evil['appearances'].quantile(0.75)
iqre = qe3 - qe1
print(iqre)

5.0

In [383]:
qg1 = df_good['appearances'].quantile(0.25)
qg3 = df_good['appearances'].quantile(0.75)
iqrg = qg3 - qg1
print(iqrg)

13.0

Сколько выбросов встречается по переменной appearances? Работайте с исходными данными, предварительно удалите пропущенные значения по столбцу appearances, используйте для нахождения выбросов межквартильный размах. Выберите один верный ответ.

In [384]:
df_wo_nan = df.dropna(subset=['appearances'])
q1 = df_wo_nan['appearances'].quantile(0.25)
q3 = df_wo_nan['appearances'].quantile(0.75)
irq = q3 - q1
print(q1, q3, irq)
threshold_up = q3 + 1.5 * irq
threshold_down = q1 - 1.5 * irq
print(threshold_down, threshold_up)
df_wo_nan[(df_wo_nan['appearances'] < threshold_down) | (df_wo_nan['appearances'] > threshold_up)].shape

1.0 8.0 7.0
-9.5 18.5

(1938, 7)

На основе данных, полученных в третьем номере, укажите, верно ли следующее утверждение: наибольшее количество выбросов по переменной appearances наблюдается у добрых персонажей.

In [385]:
df_wo_nan[(df_wo_nan['appearances'] < threshold_down) | (df_wo_nan['appearances'] > threshold_up) & (df_wo_nan['align'] == 'Добрый персонаж')].shape

(944, 7)

In [386]:
df_wo_nan[(df_wo_nan['appearances'] < threshold_down) | (df_wo_nan['appearances'] > threshold_up) & (df_wo_nan['align'] == 'Злой персонаж')].shape

(551, 7)

In [387]:
df_wo_nan[(df_wo_nan['appearances'] < threshold_down) | (df_wo_nan['appearances'] > threshold_up) & (df_wo_nan['align'] == 'Нейтральный персонаж')].shape

(285, 7)

Создайте новую переменную, которая будет представлять собой прологарифмированную переменную appearances. Сколько выбросов получится по новой переменной? Работайте с исходными данными, предварительно удалите пропущенные значения по новому столбцу, используйте для нахождения выбросов три среднеквадратичных отклонения от среднего. Введите ответ в виде целого числа.

In [388]:
df_wo_nan = df.dropna(subset=['appearances'])
df_wo_nan['appearances log'] = np.log10(df_wo_nan['appearances'])

C:\Users\dvavk\AppData\Local\Temp/ipykernel_7492/3304246161.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wo_nan['appearances log'] = np.log10(df_wo_nan['appearances'])

In [389]:
mean = df_wo_nan['appearances log'].mean()
std = df_wo_nan['appearances log'].std()
threshold_down = mean - 3 * std
threshold_up = mean + 3 * std
df_wo_nan[(df_wo_nan['appearances log'] < threshold_down) | (df_wo_nan['appearances log'] > threshold_up)].shape

(195, 8)

Сколько выбросов получится по переменной appearancs? Работайте с исходными данными, предварительно удалите пропущенные значения по столбцу appearances, используйте для нахождения выбросов три среднеквадратичных отклонения от среднего. Введите ответ в виде целого числа.

In [390]:
mean = df_wo_nan['appearances'].mean()
std = df_wo_nan['appearances'].std()
threshold_down = mean - 3 * std
threshold_up = mean + 3 * std
df_wo_nan[(df_wo_nan['appearances'] < threshold_down) | (df_wo_nan['appearances'] > threshold_up)].shape

(128, 8)

Сколько выбросов получится по переменной appearancs, если выбраны только женские персонажи? Работайте с исходными данными, выберите женских персонажей, удалите пропущенные значения по столбцу appearancs, используйте для нахождения выбросов z-оценку и три среднеквадратичных отклонения от среднего. Введите ответ в виде целого числа.

In [391]:
df_w = df_wo_nan[df_wo_nan['sex'] == 'Женский персонаж']
mean = df_w['appearances'].mean()
std = df_w['appearances'].std()
print(mean, std)
df_w['z'] = (df_w['appearances'] - mean) / std
df_w

20.284801333703808 81.51468914613059

C:\Users\dvavk\AppData\Local\Temp/ipykernel_7492/75924155.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w['z'] = (df_w['appearances'] - mean) / std

,name,align,eye,hair,sex,appearances,first_appearance,appearances log,z
11,Susan Storm (Earth-616),Добрый персонаж,Голубые глаза,Русые волосы,Женский персонаж,1713.0,1961.0,3.233757,20.765769
13,Ororo Munroe (Earth-616),Добрый персонаж,Голубые глаза,Белые волосы,Женский персонаж,1512.0,1975.0,3.179552,18.299956
17,Mary Jane Watson (Earth-616),Добрый персонаж,Зеленые глаза,NaN,Женский персонаж,1304.0,1965.0,3.115278,15.748268
24,Wanda Maximoff (Earth-616),Добрый персонаж,Зеленые глаза,Каштановые волосы,Женский персонаж,1161.0,1964.0,3.064832,13.993983
26,Janet van Dyne (Earth-616),Добрый персонаж,Голубые глаза,NaN,Женский персонаж,1120.0,1963.0,3.049218,13.491006
...,...,...,...,...,...,...,...,...,...
15256,Smasher 12 (Earth-616),Добрый персонаж,NaN,NaN,Женский персонаж,1.0,NaN,0.000000,-0.236581
15270,Tori Raven (Earth-616),Нейтральный персонаж,NaN,NaN,Женский персонаж,1.0,NaN,0.000000,-0.236581
15272,Tumult (Earth-616),Добрый персонаж,Голубые глаза,Черные волосы,Женский персонаж,1.0,NaN,0.000000,-0.236581
15273,Vector (Ascendants) (Earth-616),Добрый персонаж,Черные глаза,Черные волосы,Женский персонаж,1.0,NaN,0.000000,-0.236581
15279,Zamira (Earth-616),Добрый персонаж,Темно-карие глаза,Черные волосы,Женский персонаж,1.0,NaN,0.000000,-0.236581

In [392]:
df_w[(df_w['z'] < -3) | (df_w['z'] > 3)].shape

(48, 9)

Сравните среднее значение по переменной appearancs в двух датафреймах — без выбросов, определенных по межквартильному размаху, и без выбросов, определенных по трем среднеквадратичным отклонениям от среднего. Будем считать, что границы датафреймов без выбросов содержат значения верхних и нижних границ, определенных по межквартильному размаху или среднеквадратичному отклонению от среднего. В ответ запишите число (наибольшее среднее из двух), округлите до целого.

In [393]:
df_wo_nan = df.dropna(subset=['appearances'])

In [394]:
q1 = df_wo_nan['appearances'].quantile(0.25)
q3 = df_wo_nan['appearances'].quantile(0.75)
irq = q3 - q1
print(q1, q3, irq)
threshold_up = q3 + 1.5 * irq
threshold_down = q1 - 1.5 * irq
print(threshold_down, threshold_up)
mean1 = df_wo_nan[(df_wo_nan['appearances'] >= threshold_down) & (df_wo_nan['appearances'] <= threshold_up)]['appearances'].mean()
mean1

1.0 8.0 7.0
-9.5 18.5

3.9579523309848597

In [400]:
mean = df_wo_nan['appearances'].mean()
std = df_wo_nan['appearances'].std()
threshold_down = mean - 3 * std
threshold_up = mean + 3 * std
mean2 = df_wo_nan[(df_wo_nan['appearances'] >= threshold_down) & (df_wo_nan['appearances'] <= threshold_up)]['appearances'].mean()
mean2

10.509701689545935

Укажите, верно ли следующее утверждение: в датафрейме для добрых женских персонажей мода по переменной hair не изменится, если удалить выбросы по переменной appearances. Работайте с исходными данными, предварительно удалите пропущенные значения по столбцу appearances, используйте для нахождения выбросов межквартильный размах.

In [401]:
df_wo_nan = df.dropna(subset=['appearances'])
df_w = df_wo_nan[(df_wo_nan['sex'] == 'Женский персонаж') & (df_wo_nan['align'] == 'Добрый персонаж')]
df_w['hair'].value_counts()[0:4]

Черные волосы        418
Русые волосы         309
Каштановые волосы    236
Белые волосы          56
Name: hair, dtype: int64

In [402]:
q1 = df_w['appearances'].quantile(0.25)
q3 = df_w['appearances'].quantile(0.75)
irq = q3 - q1
print(q1, q3, irq)
threshold_up = q3 + 1.5 * irq
threshold_down = q1 - 1.5 * irq
print(threshold_down, threshold_up)
df_w[(df_w['appearances'] >= threshold_down) & (df_w['appearances'] <= threshold_up)]['hair'].value_counts()[0:4]

2.0 18.0 16.0
-22.0 42.0

Черные волосы        349
Русые волосы         264
Каштановые волосы    210
Белые волосы          46
Name: hair, dtype: int64

Выберите только злых персонажей. Сравните медиану по переменной appearances в двух датафреймах — с выбросами и без выбросов, определенных по межквартильному размаху. В ответ запишите число (наибольшее среднее из двух), округлите до целого.

In [398]:
df_wo_nan = df.dropna(subset=['appearances'])
df_evil = df_wo_nan[df_wo_nan['align'] == 'Злой персонаж']
df_w['appearances'].median()

4.0

In [399]:
q1 = df_evil['appearances'].quantile(0.25)
q3 = df_evil['appearances'].quantile(0.75)
irq = q3 - q1
print(q1, q3, irq)
threshold_up = q3 + 1.5 * irq
threshold_down = q1 - 1.5 * irq
print(threshold_down, threshold_up)
df_evil[(df_evil['appearances'] > threshold_down) & (df_evil['appearances'] < threshold_up)]['appearances'].median()

1.0 6.0 5.0
-6.5 13.5

2.0