In [109]:
import pandas as pd
import scipy.stats

In [110]:
df = pd.read_excel('data/StarWars.xlsx')
df.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится

Постройте таблицу сопряженности для переменных gender и fan. Укажите, верно ли следующее утверждение: 120 мужчин являются фанатами серии фильмов «Звездные войны».

In [111]:
contigency_table = df.groupby('gender')['fan'].value_counts().unstack()
# contigency_table = df.groupby('gender')['fan'].value_counts()
contigency_table

fan      да  нет
gender
Ж       238  159
М       303  120

Чему равна оценка вероятности того, что человек является фанатом серии фильмов? Введите ответ в виде десятичной дроби, округлите до двух знаков после запятой.

In [112]:
contigency_table['да'].sum()/contigency_table.sum().sum()
# contigency_table[contigency_table['fan']=='да']/contigency_table.sum().sum()

0.6597560975609756

Чему равна теоретическая частота для женщин, которые являются фанатами серии фильмов? В ответ запишите число, округлите до целого.

In [113]:
contigency_table['да']['Ж']/contigency_table.sum().sum()

0.29024390243902437

In [114]:
contigency_table.loc['Ж'].sum()*contigency_table['да'].sum()/contigency_table.sum().sum()

261.92317073170733

Чему равна теоретическая частота для мужчин, которые не являются фанатами серии фильмов? В ответ запишите число, округлите до целого.

In [115]:
contigency_table.loc['М'].sum()*contigency_table['нет'].sum()/contigency_table.sum().sum()

143.92317073170733

Чему равен критерий хи-квадрат? Введите ответ в виде десятичной дроби, округлите до двух знаков после запятой.

In [116]:
scipy.stats.chi2_contingency(contigency_table, correction=False)

(12.449350493035466,
 0.00041813719910750865,
 1,
 array([[261.92317073, 135.07682927],
        [279.07682927, 143.92317073]]))