In [117]:
import pandas as pd
import numpy as np
import scipy.stats

In [118]:
df = pd.read_excel('data/UrbanizationCensusTract.xlsx')
df

,statefips,state,gisjoin,lat_tract,long_tract,population,adj_radiuspop_5,urbanindex,log_pop
0,1,Alabama,G0100010020100,32.47718,-86.49007,1845,44076.0,10.69367,7.520235
1,1,Alabama,G0100010020200,32.47425,-86.47337,2172,43008.0,10.669139999999999,7.683404
2,1,Alabama,G0100010020300,32.475429999999996,-86.46019,3385,38987.0,10.57098,8.127109
3,1,Alabama,G0100010020400,32.472,-86.44363,4267,43131.0,10.672,8.358666
4,1,Alabama,G0100010020500,32.45883,-86.42266,9965,43131.0,10.672,9.206834
...,...,...,...,...,...,...,...,...,...
73275,72,Puerto Rico,G7201530750501,18.03124,-66.86725,6011,52155.0,10.86198,8.701346
73276,72,Puerto Rico,G7201530750502,18.02477,-66.86044,2342,55257.0,10.91975,7.758761
73277,72,Puerto Rico,G7201530750503,18.025270000000003,-66.87763,2218,48423.0,10.78773,7.704361
73278,72,Puerto Rico,G7201530750601,18.01738,-66.83936,4380,50600.0,10.831710000000001,8.384804
73279,72,Puerto Rico,G7201530750602,17.98674,-66.85192,3001,44921.0,10.712660000000001,8.006701

Сравните дисперсии по переменной log_pop в штатах Вайоминг (Wyoming) и Южная Дакота (South Dakota). Укажите, верно ли следующее утверждение: полученные дисперсии равны.

In [119]:
dfWyoming = df[df['state']=='Wyoming']['log_pop']
dfSouthDakota = df[df['state']=='South Dakota']['log_pop']
v1 = varWyoming = dfWyoming.var()
# v1 = varWyoming = np.var(dfWyoming, ddof = 0)
# v1 = varWyoming = np.var(dfWyoming, ddof = 1)
v2 = varSouthDakota = dfSouthDakota.var()
# v2 = varSouthDakota = np.var(dfSouthDakota, ddof=0)
# v2 = varSouthDakota = np.var(dfSouthDakota, ddof=1)
print(v1, v2)

0.18517126178551693 0.24738635408141207

Чему будет равно количество степеней свободы для указанной выше переменной и штатов с поправкой Уэлча? Рассчитайте показатель вручную. Выберите один верный ответ.

### Поправка Уэлча
<!-- $ -->
\begin{align}
df = \frac{(V_1 + V_2)^2}{\frac{V^2_1}{n_1 - 1} + \frac{V^2_2}{n_2 - 1}}
\end{align}
<!-- $ -->

$
V_1 = \frac{s^2_1}{n_1}; V_2 = \frac{s^2_2}{n_2}
$

In [120]:
n1 = nWyoming = len(dfWyoming)
n2 = nSouthDakota = len(dfSouthDakota)
print(nWyoming, nSouthDakota)

131 219

In [121]:
V1 = v1 / n1
V2 = v2 / n2
print(V1, V2)

0.0014135210823321904 0.0011296180551662652

In [122]:
df = int((V1 + V2) ** 2 / ((V1 ** 2 / (n1 - 1)) + (V2 ** 2 / (n2 - 1))))
df

304

Чему равна стандартная ошибка для выбранных выше штатов и переменной? Выберите один верный ответ.

In [132]:
S_m1_m2 = (V1 + V2) ** (1/2)
S_m1_m2

0.050429546274961226

Чему равна разность между средними выборок по указанным выше штатам? Выберите один верный ответ.

In [126]:
d_mean = dfWyoming.mean()-dfSouthDakota.mean()
d_mean

0.17812507657673038

Чему получилось равно t-значение для указанных выше штатов и переменной log_pop ? Введите ответ в виде модуля десятичной дроби, округлите до двух знаков после запятой.

In [128]:
t = d_mean / S
t

3.532157033607325

Чему получилось равно t-критическое для уровня значимости 0.01? Введите ответ в виде десятичной дроби, округлите до двух знаков после запятой.

In [134]:
t_critical = 2.592

Рассчитайте доверительный интервал для разницы между средними по указанным штатам и переменной. Какое из следующих утверждений верно? Выберите один верный ответ.

### Доверительный интервал
$
CI = (M1 + M2) ± t*s_{(M_1 - M_2)}
$

In [135]:
mean_1 = dfWyoming.mean()
mean_2 = dfSouthDakota.mean()
CI_low = (mean_1 - mean_2) - t_critical * S_m1_m2
CI_high = (mean_1 - mean_2) + t_critical * S_m1_m2
print(CI_low, CI_high)

0.04741169263203088 0.3088384605214299