In [1]:
import pandas as pd
import numpy as np

data source  
https://github.com/fivethirtyeight/data/tree/master/star-wars-survey

In [2]:
df = pd.read_excel('../../data/StarWars.xlsx')
df.head(3)

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   respondentID          1186 non-null   int64
 1   seen                  1186 non-null   object
 2   fan                   836 non-null    object
 3   gender                1046 non-null   object
 4   age_group             1046 non-null   object
 5   income                858 non-null    object
 6   loc                   1043 non-null   object
 7   yoda                  826 non-null    object
 8   princess_leia_organa  831 non-null    object
dtypes: int64(1), object(8)
memory usage: 83.5+ KB

Укажите, верно ли следующее утверждение: все женщины старше 60 лет, входящие в категорию с наивысшим доходом и являющиеся фанатами серии фильмов, проживают в одном регионе.

In [4]:
df['woman-oldest-fan'] = np.where((df['gender'] == 'Ж') & (df['age_group'] == '> 60') & (df['fan'] == 'да'), 1, 0)
df['loc'][df['woman-oldest-fan']==1]

111               Южно-Атлантический
123               Южно-Атлантический
135     Северо-Восточный центральный
144     Северо-Восточный центральный
151      Северо-Западный центральный
162                    Тихоокеанский
188               Южно-Атлантический
194                           Горный
257             Средне-Атлантический
259                    Тихоокеанский
285      Северо-Западный центральный
328        Юго-Восточный центральный
332      Северо-Западный центральный
351                     Новая Англия
359                           Горный
431               Южно-Атлантический
490        Юго-Восточный центральный
495     Северо-Восточный центральный
506               Южно-Атлантический
507         Юго-Западный центральный
513                     Новая Англия
522      Северо-Западный центральный
534                    Тихоокеанский
537                    Тихоокеанский
548                    Тихоокеанский
549     Северо-Восточный центральный
563             Средне-Атлантический
567             Средне-Атлантический
584      Северо-Западный центральный
596     Северо-Восточный центральный
598         Юго-Западный центральный
636                    Тихоокеанский
640               Южно-Атлантический
645     Северо-Восточный центральный
652                           Горный
666                     Новая Англия
671                           Горный
726             Средне-Атлантический
740        Юго-Восточный центральный
741     Северо-Восточный центральный
743     Северо-Восточный центральный
776     Северо-Восточный центральный
777               Южно-Атлантический
779         Юго-Западный центральный
839     Северо-Восточный центральный
928               Южно-Атлантический
960               Южно-Атлантический
961                           Горный
983                    Тихоокеанский
1047        Юго-Западный центральный
1051                          Горный
1083              Южно-Атлантический
1154                   Тихоокеанский
1171                          Горный
1172                   Тихоокеанский
Name: loc, dtype: object

Какой регион проживания чаще всего встречается в данных? Выберите один верный ответ.

In [5]:
df.groupby('loc').size()

loc
Горный                           79
Новая Англия                     75
Северо-Восточный центральный    181
Северо-Западный центральный      93
Средне-Атлантический            122
Тихоокеанский                   175
Юго-Восточный центральный        38
Юго-Западный центральный        110
Южно-Атлантический              170
dtype: int64

Сколько респондентов не назвали свой доход? Выберите один верный ответ.

In [6]:
len(df[df['income'].isna()])

328

Скольким респондентам одновременно очень нравятся Йода и принцесса Лея Органа? Выберите один верный ответ.

In [7]:
len(df[(df['yoda'] == 'очень нравится') & (df['princess_leia_organa'] == 'очень нравится')])

462

Сколько респондентов не видели ни одного фильма серии, но считают себя ее фанатами? Введите ответ в виде целого числа.

In [8]:
len(df[(df['seen'] == 'нет') & (df['fan'] == 'да')])

0

Сколько респондентов не ответили ни на один вопрос? Введите ответ в виде целого числа.

In [9]:
len(df[(df['seen'].isna()) & (df['fan'].isna()) & (df['gender'].isna()) & (df['age_group'].isna()) & (df['income'].isna()) & (df['loc'].isna()) & (df['yoda'].isna()) & (df['princess_leia_organa'].isna())])

0

Посмотрите на мужчин, проживающих в горном районе. В ответ запишите ID респондента, входящего в категорию с наивысшим доходом при заданных условиях.

In [10]:
df[(df['gender'] == 'М') & (df['loc'] == 'Горный') & (df['income'] == '150.000+')]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa,woman-oldest-fan
169,3291077381,да,нет,М,45-60,150.000+,Горный,нравится,отношусь нейтрально,0

Укажите, верно ли следующее утверждение: фанатов серии фильмов в возрастной категории 45-60 меньше, чем не-фанатов в возрастной категории 18-29.

In [11]:
len(df[(df['fan'] == 'да') & (df['age_group'] == '45-60')])

154

In [12]:
len(df[(df['fan'] == 'нет') & (df['age_group'] == '18-29')])

56

Сколько процентов (от общего числа респондентов) являются фанатами серии фильмов, проживают в Новой Англии и имеют доход 0 - 24.999 долларов? В ответ запишите число (процент от 0 до 100), округлите до целого.

In [13]:
len(df[(df['fan'] == 'да') & (df['loc'] == 'Новая Англия') & (df['income'] == '0 - 24.999')])

9

In [14]:
len(df[(df['fan'] == 'да') & (df['loc'] == 'Новая Англия') & (df['income'] == '0 - 24.999')]) / len(df) * 100

0.7588532883642496