In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../../data/StarWars.xlsx')
df.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится

In [3]:
df[(df['age_group']=='18-29') & (df['fan']=='нет')].groupby('loc').count()

,respondentID,seen,fan,gender,age_group,income,yoda,princess_leia_organa
loc,,,,,,,,
Горный,4,4,4,4,4,4,3,3
Новая Англия,5,5,5,5,5,4,5,5
Северо-Восточный центральный,6,6,6,6,6,5,6,6
Северо-Западный центральный,6,6,6,6,6,6,6,6
Средне-Атлантический,5,5,5,5,5,3,5,5
Тихоокеанский,19,19,19,19,19,15,19,18
Юго-Восточный центральный,3,3,3,3,3,3,3,3
Юго-Западный центральный,4,4,4,4,4,2,4,4
Южно-Атлантический,4,4,4,4,4,3,4,4

In [4]:
df.groupby('loc').count()

,respondentID,seen,fan,gender,age_group,income,yoda,princess_leia_organa
loc,,,,,,,,
Горный,79,79,68,79,79,67,67,67
Новая Англия,75,75,60,75,75,62,59,59
Северо-Восточный центральный,181,181,134,181,181,147,133,134
Северо-Западный центральный,93,93,76,93,93,82,75,76
Средне-Атлантический,122,122,93,122,122,94,93,93
Тихоокеанский,175,175,146,175,175,143,144,145
Юго-Восточный центральный,38,38,32,38,38,32,32,31
Юго-Западный центральный,110,110,76,110,110,92,76,76
Южно-Атлантический,170,170,133,170,170,137,129,132

In [5]:
df[df['yoda'].isna()].shape

(360, 9)

In [6]:
df[(df['loc']=='Новая Англия') & (df['princess_leia_organa']=='очень нравится')].shape

(39, 9)