# Выбросы

In [1]:
import pandas as pd
import numpy as np

bikes = pd.read_pickle('../data/BikesDataVars.pkl')
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Normal Humidity,Temperature Category,Good Weather
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,0,Freezing,0
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,0,Freezing,0
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,0,Freezing,0
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148,1,Freezing,0
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97,0,Freezing,0

In [2]:
bikes['Rental Count'].describe()

count    8760.000000
mean      696.582078
std       749.812613
min         0.000000
25%       157.000000
50%       425.500000
75%      1009.000000
max      6012.000000
Name: Rental Count, dtype: float64

In [3]:
q3 = np.percentile(bikes['Rental Count'], 75)
q1 = np.percentile(bikes['Rental Count'], 25)
iqr = q3 - q1
print(q3, q1, iqr)

1009.0 157.0 852.0

In [4]:
q1 = bikes['Rental Count'].quantile(0.25)
q3 = bikes['Rental Count'].quantile(0.75)
iqr = q3 - q1
print(q3, q1, iqr)

1009.0 157.0 852.0

In [5]:
iqr_outlier_threshold_bottom = q1 - 1.5 * iqr
iqr_outlier_threshold_up = q3 + 1.5 * iqr
print(iqr_outlier_threshold_bottom)
print(iqr_outlier_threshold_up)

-1121.0
2287.0

In [6]:
bikes[bikes['Rental Count'] > iqr_outlier_threshold_up].shape

(413, 14)

In [7]:
bikes[bikes['Rental Count'] > iqr_outlier_threshold_up]['Hour'].value_counts()

18    95
19    64
17    51
20    48
21    39
8     38
16    23
22    21
15    10
14     8
13     7
23     4
7      4
9      1
Name: Hour, dtype: int64

In [8]:
bikes[bikes['Rental Count'] > iqr_outlier_threshold_up]['Seasons'].value_counts()

Summer    196
Autumn    116
Spring    101
Name: Seasons, dtype: int64

In [9]:
bikes['Rental Count'].describe()

count    8760.000000
mean      696.582078
std       749.812613
min         0.000000
25%       157.000000
50%       425.500000
75%      1009.000000
max      6012.000000
Name: Rental Count, dtype: float64

In [10]:
mean = bikes['Rental Count'].mean()
std = bikes['Rental Count'].std()
std_outlier_threshold_bottom = mean - 2.5 * std
std_outlier_threshold_up = mean + 2.5 * std
print(std_outlier_threshold_bottom)
print(std_outlier_threshold_up)

-1177.9494551643193
2571.1136104154607

In [11]:
bikes[bikes['Rental Count'] > std_outlier_threshold_up].shape

(278, 14)

In [12]:
iqr_bikes_no_outliers = bikes[bikes['Rental Count'] <= iqr_outlier_threshold_up]
std_bikes_no_outliers = bikes[bikes['Rental Count'] <= std_outlier_threshold_up]

In [13]:
print(bikes['Rental Count'].mean())
print(iqr_bikes_no_outliers['Rental Count'].mean())
print(std_bikes_no_outliers['Rental Count'].mean())

696.5820776255708
584.146280100635
613.2393303466164

In [14]:
print(bikes['Rental Count'].median())
print(iqr_bikes_no_outliers['Rental Count'].median())
print(std_bikes_no_outliers['Rental Count'].median())

425.5
392.0
402.0